<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cervezas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title color="danger">BOLIVIA</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(38, 222, 38);">PACENA</ion-card-subtitle>
              <p class="bolivia">Appelée "Champagne de Bolivie", biére blonde trés gazeuse fabriquée à plus de 3600 m d'altitude. </p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title color="success">BRAZIL</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(227, 224, 36);">BRHAMA</ion-card-subtitle>
              <p>Blonde au gout léger et désaltérant avec un soupcon de papaye en note finale.</p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title color="primary">CHILE</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(245, 44, 64);">ESCUDO</ion-card-subtitle>
              <p>Blonde à la couleur or jaune, c'est une lager aux parfums de mais et caramel.</p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title color="danger">COLOMBIA</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(227, 224, 36);">CLUB COLOMBIA</ion-card-subtitle>
              <p>Dorée de type lager, légère et maltée.</p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title>MEXICO</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(17, 207, 89);">PACIFICO</ion-card-subtitle>
              <p>Biére blonde type pale lager avec des notes de céréales.</p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title color="danger">PERU</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(250, 42, 42);">CUSQUENA</ion-card-subtitle>
              <p>Couleur sombre, saveur maltée, sucrée, qui la distingue clairement des stouts type Guiness.</p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title>REP. DOM.</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(56, 122, 245);">PRESIDENTE</ion-card-subtitle>
              <p>Blonde claire de type pilsher, fraiche et désaltérante.</p>
            </div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="../assets/img/pacifico.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-wrap>
            <div>
              <ion-card-title color="warning">VENEZUELA</ion-card-title>
              <ion-card-subtitle color="white" style="background-color: rgb(250, 42, 42);">POLAR</ion-card-subtitle>
              <p>Blond légère et trés aromatique aux parfums d'agrumes.</p>
            </div> 
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
