<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Vinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="4" offset-sm="4" >
          <ion-card>
            <!-- <img src="../assets/img/wine.jpeg" > -->
            <ion-card-header>
              <ion-card-title>ARGENTINA</ion-card-title>
              <div class="argentinavino">
                <p>PINOT GRIS / ROSE - B: 22£ v: £</p>
              </div>
              <ion-card-subtitle>PIEDRA NEGRA</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Son nez est fruité, il est composé de notes de fleurs blanches et d'agrumes, sec et très frais en bouche.
              </p>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <!-- <img src="../assets/img/wine.jpeg" > -->
            <ion-card-header>
              <ion-card-title>MEXICO</ion-card-title>
              <div class="mexicovino">
                <p>CHENIN BLANC - B: 22£ V: 4£  </p>
              </div>
              <ion-card-subtitle>L.A. CETTO</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>De couleur jaune avec des reflets verts, ce Chenin Blanc offre un bouquet d'agrumes et de fruits tropicaux, c'est un vin riche, avec du volume et équilibré. Idéal en apéritif.
              </p>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <!-- <img src="../assets/img/wine.jpeg" > -->
            <ion-card-header>
              <ion-card-title>CHILE</ion-card-title>
              <div class="chilevino">
                <p>CARMENERE ROUGE - B: 23£ V: 4£</p>
              </div>
              <ion-card-subtitle>RESERVA ARAUCANO</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>100% Carmenère aux notes de fruits murs, de cassis, de poivre noir et d'épices (vanille, cannelle, ou encore poivre noir). Tanins soyeux, très bon équilibre sur une finale persistante.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
     </ion-row>
  </ion-grid>    
</ion-content>
