<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mocktails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" offset-sm="4" >
        <ion-card>
          <!-- <img src="../assets/img/mocktails.jpeg" > -->
          <ion-card-header>
            <ion-card-title color="warning">PINATA</ion-card-title>
            <!-- <div class="argentinavino">
              <p>PINOT GRIS / ROSE - B: 22£ v: £</p>
            </div>
            <ion-card-subtitle>PIEDRA NEGRA</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <p>Jus d'ananas 100%, citron jaune, sirop de cactus et gingembre.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/mocktails.jpeg" > -->
          <ion-card-header>
            <ion-card-title color="success">AGUA VERDE</ion-card-title>
            <!-- <div class="chilevino">
              <p>CARMENERE ROUGE - B: 23£ V: 4£</p>
            </div>
            <ion-card-subtitle>RESERVA ARAUCANO</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <p>Jus de citron vert, coriandre, sirop d'agave et concombre frais.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/mocktails.jpeg" > -->
          <ion-card-header>
            <ion-card-title color="danger">SANGRE DE NARCO</ion-card-title>
            <!-- <div class="chilevino">
              <p>CARMENERE ROUGE - B: 23£ V: 4£</p>
            </div>
            <ion-card-subtitle>RESERVA ARAUCANO</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <p>Jus de cranberry, purée de mures, citron vert et sirop d'hibiscus.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
   </ion-row>
</ion-grid> 
</ion-content>
