<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cocteles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" offset-sm="4" >
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title color="danger">BOLIVIA</ion-card-title>
            <div class="flordecoca">
              <p>Licor Nacional / Agua de Coca - AGWA DE BOLIVIA - 30% Alc/Vol</p>
            </div>
            <ion-card-subtitle>FLOR DE COCA</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Agwa de Bolivia à la feuille de coca, sirop de rose, menthe fraiche, gingembre, orange pressée et saupoudré de poivre.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title color="success">Brazil</ion-card-title>
            <div class="obasamba">
              <p>Licor Nacional / Cachaça - LEBLON - 40% Alc/Vol</p>
            </div>
            <ion-card-subtitle>OBA SAMBA</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Cachaça Janeiro, liqueur aloévera, citron vert, sirop de farnum, sucre brun, menthe fraiche.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title color="primary">CHILE</ion-card-title>
            <div class="trauko">
              <p>Licor Nacional / Pisco - KAPPA - 42,5% Alc/Vol</p>
            </div>
            <ion-card-subtitle>TRAUKO</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Pisco Artesanos, purée de mures, jus de cranberry, citron vert, sirop de gingembre.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title  style="color: rgb(212, 2, 2);">COLOMBIA</ion-card-title>
            <div class="colombia">
              <p>Licor Nacional / Aguardiente - ANTIOQUENO - 29% Alc/Vol</p>
            </div>
            <ion-card-subtitle>QUETZAL</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Aguardiente antioqueno, sirop d'hibiscus, citron pressé, fleur de sureau, canelle fraiche.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title style="color: white;">MEXICO</ion-card-title>
            <div class="mexico">
              <p>Licor Nacional / Mezcal - UNION - 40% Alc/Vol</p>
            </div>
            <ion-card-subtitle>MOSQUITO VERDE</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Téquila José Cuervo, concombre frais, sirop d'agave, citron vert, coriandre, infusée au piment.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title color="danger">PERU</ion-card-title>
            <div class="peru">
              <p>Licor Nacional / Pisco - DEMONIO DE LOS ANDES - 40% Alc/Vol</p>
            </div>
            <ion-card-subtitle>PISCO SOUR</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Pisco Quebranta Demonio, combava, citron jaune frais, sirop de sucre, blanc d'oeuf, angustura.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title style="color: white;">REP. DOM.</ion-card-title>
            <div class="deseohelado">
              <p>Licor Nacional / Rhum - BARCELO - 38% Alc/Vol</p>
            </div>
            <ion-card-subtitle>DESEO HELADO</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Rhum Ambré Brugal liqueur de coco, jus 100% ananas, citron vert pressé, sirop de canelle.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <!-- <img src="../assets/img/obasamba.jpg" > -->
          <ion-card-header>
            <ion-card-title style="color: rgb(227, 224, 36);">VENEZUELA</ion-card-title>
            <div class="chuao">
              <p>Licor Nacional / Rhum - SANTA TERESA - 40% Alc/Vol</p>
            </div>
            <ion-card-subtitle>CHUAO</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Rhum Pampero, citron vert, créme de cacao, sirop de sucre de canne, angustura.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    

</ion-content>
